@page
@model CatCoffeePlatformRazorPages.Pages.Booking.AreasModel

@{
    ViewData["Title"] = "Areas";
}

<div style="position: fixed; top: 15%; right: 10%; width: 25%;">
    @{
        if (ViewData["warning"] != null)
        {
            <div class="alert alert-info">
                @ViewData["warning"]
            </div>
        }
        var data = (List<string>?)ViewData["errors"];
        if (data != null)
        {
            <div style="margin-top:20px">
                @foreach (var item in data)
                {
                    <div class="alert alert-danger" style="margin-top:10px">
                        @item
                    </div>
                }
            </div>
        }
    }
</div>


<h1>Coffee Shop</h1>
<div class="border border-2 border - primary padding-css coffeeShop">
    <div class="coffeeShop_picture">
        <img />
    </div>
    <div class="coffeeShop_description">
        <h2>@(Model.CoffeeShop?.ShopName ?? "")</h2>
        <div class="coffeeShop_description_items">
            <p class="coffeeShop_description_item">
                <i class="fa-solid fa-location-dot"></i> @(Model.CoffeeShop?.Address ?? "")
            </p>
            <p class="coffeeShop_description_item">
                <i class="fa-regular fa-clock"></i> @(Model.CoffeeShop?.OpeningTime ?? "") - @(Model.CoffeeShop?.ClosingTime ?? "")
            </p>
        </div>
        <div class="coffeeShop_description_items">
            <p class="coffeeShop_description_item">
                <i class="fa-solid fa-phone"></i> @(Model.CoffeeShop?.ContactNumber ?? "")
            </p>
            <p class="coffeeShop_description_item">
                <i class="fa-regular fa-envelope"></i> @(Model.CoffeeShop?.Email ?? "")
            </p>
        </div>
        <h4>
            @(Model.CoffeeShop?.Description ?? "")
        </h4>
    </div>
</div>

<h1>Areas</h1>
@foreach (var item in Model.Areas) {
    <div class="border border-2 border - primary padding-css coffeeShop" onclick="chooseShop(@item.ToString())">
        <div class="coffeeShop_picture">
            <img />
        </div>
        <div class="coffeeShop_description">
            <h2>@item.AreaName</h2>
            <p>
                <i class="fa-solid fa-dollar-sign"></i> @item.PricePerHour
            </p>
            <p>
                <i class="fa-solid fa-check"></i> @item.AvailableSlots
            </p>
            <h4>
                @item.Description
            </h4>
        </div>
    </div>
}


<style>
    .coffeeShop {
        display: flex;
        flex-direction: row;
        margin: 30px 20px;
        min-height: 220px;
    }

    .coffeeShop_picture {
        flex: 1;
        padding: 4px 16px;
    }

    .coffeeShop_description {
        flex: 2;
        padding: 4px 16px;
    }

    .coffeeShop_description_items {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .coffeeShop_description_item + .coffeeShop_description_item {
        margin-left: 20px;
    }
</style>