@*@page
@model CatCoffeePlatformRazorPages.Pages.Booking.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Slots)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Slots)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.TotalMoney)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.TotalMoney)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.PaymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.PaymentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Deleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Area.AreaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.TimeFrame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.TimeFrame.TimeFrameId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CoffeeShop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CoffeeShop.ContactNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking?.BookingId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
*@