@page
@model CatCoffeePlatformRazorPages.Pages.Booking.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div style="position: fixed; top: 15%; right: 10%; width: 25%;">
    @{
        if (ViewData["warning"] != null)
        {
                <div class="alert alert-info">
                    @ViewData["warning"]
                </div>
        }
        var data = (List<string>?)ViewData["errors"];
        if (data != null)
        {
                <div style="margin-top:20px">
                    @foreach (var item in data)
                {
                        <div class="alert alert-danger" style="margin-top:10px">
                            @item
                        </div>
                }
                </div>
        }
    }
</div>


<section class="main">
    <div>
        <h4>Booking</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Created Date
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.BookingDate)
            </dd>
            <dt class="col-sm-2">
                Schedule
            </dt>
            <dd class="col-sm-10">
                <span style="margin-right: 50px;"><i class="fa-regular fa-calendar-days"></i> @(Model.Booking.Date.ToString("yyyy-MM-dd") ?? "Error")</span>    
                <span><i class="fa-solid fa-clock"></i> @(Model.Booking.TimeFrame?.StartTime?.ToString("HH:mm:ss") ?? "") - @(Model.Booking.TimeFrame?.EndTime?.ToString("HH:mm:ss") ?? "")</span>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.Slots)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.Slots)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.TotalMoney)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.TotalMoney)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.PaymentDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.PaymentDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.Area)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.Area.AreaName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.TimeFrame)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.TimeFrame.TimeFrameId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.User)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.User.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.CoffeeShop)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.CoffeeShop.ContactNumber)
            </dd>
        </dl>
    </div>

    <div>
        <h4>CoffeeShop</h4>
        <hr />
    </div>

    <div>
        <h4>Area</h4>
        <hr />
    </div>

    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="border-bottom: 2px dashed; margin:150px 0 0 0; width:400px;"></div>
    </div>
    <h1 style="width: 100%; text-align: center; display: inline-block; margin: 40px 0 120px; font-size: 38px; font-weight: 600;">Order</h1>

</section>