@page
@using BusinessObject.Enums;
@model CatCoffeePlatformRazorPages.Pages.Booking.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div style="position: fixed; top: 15%; right: 10%; width: 25%;">
    @{
        if (ViewData["warning"] != null)
        {
            <div class="alert alert-info">
                @ViewData["warning"]
            </div>
        }
        var data = (List<string>?)ViewData["errors"];
        if (data != null)
        {
            <div style="margin-top:20px">
                @foreach (var item in data)
                {
                    <div class="alert alert-danger" style="margin-top:10px">
                        @item
                    </div>
                }
            </div>
        }
    }
</div>

<section class="main">
    <form asp-page="CoffeeShops" method="get">
        @Html.AntiForgeryToken()
        <button class="button_booking" type="submit">
            Booking Now
        </button>
    </form>

    <h2>Booking History</h2>

    <table class="table table-striped d-sm-table">
        <thead>
            <tr>
                @if(Model.ShowCustomer){
                    <th>Customer</th>
                }
                <th>Created</th>
                <th>Date</th>
                <th>Time</th>
                <th>Slots</th>
                <th>Total Money</th>
                <th>Payment Date</th>
                <th>Status</th>
                <th>Payment Status</th>
                <th>Coffee Shop</th>
                <th>Area</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Bookings)
            {
                <tr style="vertical-align: middle;">
                    @if(Model.ShowCustomer){
                        <td>
                            @Html.DisplayFor(modelItem => item.User!.Email!)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDate)
                    </td>
                    <td>
                        @item.Date.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @(item.TimeFrame?.StartTime?.ToString("HH:mm:ss") ?? "None") - @(item.TimeFrame?.EndTime?.ToString("HH:mm:ss") ?? "None")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Slots)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalMoney)
                    </td>
                    <td>
                        @(item.PaymentDate?.ToString("yyyy-MM-dd HH:mm:ss") ?? "None")
                    </td>
                    <td>
                        @(((BookingStatus)(item.Status ?? 0)).GetStringValue() ?? "None")
                    </td>
                    <td>
                        @(Enum.GetName(typeof(PaymentStatus), item.PaymentStatus ?? 0))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoffeeShop!.ShopName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Area!.AreaName)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary" asp-page="./Details" asp-route-id="@item.BookingId">
                            <i class="fa fa-info px-1" style="font-size: 18px;"></i>
                        </a>
                    </td>
                </tr>
            }


            @*@foreach (var item in Model.Bookings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDate)
                    </td>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Slots)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalMoney)
                    </td>
                    <td>
                        @item.PaymentDate
                    </td>
                    <td>
                        @(((BookingStatus)item.Status).GetStringValue() ?? "None")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoffeeShopId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AreaId)
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
</section>
