@page "/home"
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        @foreach (var coffeeShop in Model.CoffeeShops)
        {
            <div class="col-3 p-1">
                <div class="card h-100">
                    <img src="/img/coffeeShops/catcoffee.jpg" class="img-fluid card-img-top" alt="@coffeeShop.ShopName" />
                    <div class="card-body">
                        <h5 class="card-title">@coffeeShop.ShopName</h5>
                        <p class="card-text">@coffeeShop.Description</p>
                        <div class="d-flex justify-content-between">
                            <span class="card-text">@(coffeeShop.ContactNumber)</span>
                            <a id="detailButton" class="btn btn-danger btn-sm" asp-page="./CoffeeShop/Details" asp-route-id="@coffeeShop.CoffeeShopId">Xem chi tiet</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

