@page "/home"
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

@if (TempData["shop-msg"] is not null)
{
    <div class="alert alert-info">
        @TempData["shop-msg"]
    </div>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        @foreach (var coffeeShop in Model.CoffeeShops)
        {
            <div class="col-3 p-1">
                <div class="card h-100">
                    <img src="/img/coffeeShops/catcoffee.jpg" class="img-fluid card-img-top" alt="@coffeeShop.ShopName" />
                    <div class="card-body">
                        <h5 class="card-title">@coffeeShop.ShopName</h5>
                        <p class="card-text">@coffeeShop.Description</p>
                        <div class="d-flex justify-content-between">
                            <span class="card-text">@(coffeeShop.ContactNumber)</span>
                            <a id="detailButton" class="btn btn-danger btn-sm" asp-page="./CoffeeShop/Details" asp-route-id="@coffeeShop.CoffeeShopId">Xem chi tiet</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<section class="hero">
</section>

<style>
    .hero {
        height: 90vh;
        width: 100%;
        background-color: #739d79;
        position: relative;
        background-image: url('images/catcoffeeshop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
