@page "/timeframes/details"
@model CatCoffeePlatformRazorPages.Pages.TimeFramePages.DetailsModel

@{
    ViewData["Title"] = "Timeframe Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-7 p-5">
            <h1 class="card-title">Details</h1>
            <hr />

            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.TimeFrame.StartTime)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.TimeFrame.StartTime)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.TimeFrame.EndTime)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.TimeFrame.EndTime)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.TimeFrame.Price)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.TimeFrame.Price)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.TimeFrame.CoffeeShop)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.TimeFrame.CoffeeShop)
                    </dd>
                </dl>
                <div class="d-flex justify-content-end">
                    <a asp-page="./edit" asp-route-id="@Model.TimeFrame?.TimeFrameId"
                        class="btn btn-primary me-3">Edit</a>
                    <a asp-page="./Index" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
