@page "/coffeeshoppages/delete"
@model CatCoffeePlatformRazorPages.Pages.CoffeeShopPages.DeleteModel

@{
    ViewData["Title"] = "Delete Coffeeshop";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-7 p-5">
            <h1 class="card-title">Delete</h1>
            <hr />

            @if (TempData["shop-msg"] is not null)
            {
                <div class="alert alert-info">
                    @TempData["shop-msg"]
                </div>
            }

            <h3>Are you sure you want to delete this shop?</h3>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.CoffeeShop.ShopName)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.CoffeeShop.ShopName)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.CoffeeShop.Address)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.CoffeeShop.Address)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.CoffeeShop.OpeningTime)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.CoffeeShop.OpeningTime)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.CoffeeShop.ClosingTime)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.CoffeeShop.ClosingTime)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.CoffeeShop.ContactNumber)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.CoffeeShop.ContactNumber)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.CoffeeShop.Email)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.CoffeeShop.Email)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.CoffeeShop.Description)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.CoffeeShop.Description)
                    </dd>

                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.CoffeeShop.ManagerEmail)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.CoffeeShop.ManagerEmail)
                    </dd>
                </dl>

                <div class="d-flex justify-content-end">
                    <form method="post">
                        <input type="hidden" asp-for="CoffeeShop.CoffeeShopId" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-page="./Index" class="btn btn-secondary">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
