@page "/coffeeshoppages"
@model CatCoffeePlatformRazorPages.Pages.CoffeeShopPages.IndexModel

@{
    ViewData["Title"] = "Coffeeshop List";
}

<div class="container" style="min-height: 44vh;">
    <h1 style="text-align: center;">CoffeeShop</h1>

    <p class="button">
        <a asp-page="create" class="btn btn-primary">Create</a>
    </p>

    <div class="card" id="main-table">
        @if (Model.CoffeeShop is null || !Model.CoffeeShop.Any())
        {
            <h3 class="alert alert-info text-center">No CoffeeShop found</h3>
        }
        else
        {
            @if (TempData["shop-msg"] is not null)
            {
                <div class="alert alert-info">
                    @TempData["shop-msg"]
                </div>
            }

            <table class="table table-striped d-sm-table">
                <thead>
                    <tr>
                        <th>ShopName</th>
                        <th>OpeningTime</th>
                        <th>ClosingTime</th>
                        <th>ContactNumber</th>
                        <th>Shop Email</th>
                        <th>Manager Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CoffeeShop) 
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShopName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OpeningTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClosingTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ManagerEmail)
                            </td>
                            <td>
                                <a asp-page="./edit" asp-route-id="@item.CoffeeShopId" class="btn btn-primary btn-sm">Edit</a>
                                <a asp-page="./details" asp-route-id="@item.CoffeeShopId" class="btn btn-info btn-sm">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>