@page "/catpages/details"
@using BusinessObject.Enums
@model CatCoffeePlatformRazorPages.Pages.CatPages.DetailsModel

@{
    ViewData["Title"] = "Cat Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-7 p-5">
            <h1 class="card-title">Details</h1>
            <hr />

            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Cat.CatName)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Cat.CatName)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Cat.Description)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Cat.Description)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Cat.HealthyStatus)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @if (Model.Cat.HealthyStatus == (int)CatStatus.Healthy)
                        {
                            <span class="badge bg-success">Healthy</span>
                        }
                        else if (Model.Cat.HealthyStatus == (int)CatStatus.Sick)
                        {
                            <span class="badge bg-warning">Sick</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Dead</span>
                        }
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Cat.Area)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Cat.Area)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Cat.CoffeeShop)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Cat.CoffeeShop)
                    </dd>
                </dl>
                <div class="d-flex justify-content-end">
                    <a asp-page="/CoffeeShopPages/Details" asp-route-id="@ViewData["shopId"]" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
