@page "/catpages"
@using BusinessObject.Enums
@model CatCoffeePlatformRazorPages.Pages.CatPages.IndexModel

@{
    ViewData["Title"] = "Cat List";
}

<div class="container" style="min-height: 44vh;">
    <h1 style="text-align: center;">Cat</h1>

    <p class="button">
        <a asp-page="Create" asp-route-shopId="@ViewData["shopId"]" class="btn btn-primary">Create</a>
    </p>

    <div class="card" id="main-table">
        @if (Model.Cat is null || !Model.Cat.Any())
        {
            <h3 class="alert alert-info text-center">No Cats Found</h3>
        }
        else
        {
            @if (TempData["cat-msg"] is not null)
            {
                <div class="alert alert-info">
                    @TempData["cat-msg"]
                </div>
            }

            <table class="table table-striped d-sm-table">
                <thead>
                    <tr class="text-uppercase">
                        <th>Cat Name</th>
                        <th>Description</th>
                        <th>Healthy Status</th>
                        <th>Area</th>
                        <th>Coffee Shop</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cat)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CatName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @if (item.HealthyStatus == (int)CatStatus.Healthy)
                                {
                                    <span class="badge bg-success">Healthy</span>
                                }
                                else if (item.HealthyStatus == (int)CatStatus.Sick)
                                {
                                    <span class="badge bg-warning">Sick</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">Dead</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Area)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CoffeeShop)
                            </td>
                            <td>
                                <a asp-page="./edit" asp-route-catId="@item.CatId"
                                   asp-route-shopId="@ViewData["shopId"]" class="btn btn-primary btn-sm">Edit</a>
                                <a asp-page="./details" asp-route-catId="@item.CatId"
                                   asp-route-shopId="@ViewData["shopId"]" class="btn btn-info btn-sm">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>