@page "/areapages/details"
@model CatCoffeePlatformRazorPages.Pages.AreaPages.DetailsModel
@using BusinessObject.Enums;

@{
    ViewData["Title"] = "Area Details";
}

<div class="container">
    <div class="row justify-content-between">
        <div class="card col-7 p-5">
            <h1 class="card-title">Details</h1>
            <hr />

            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Area.AreaName)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Area.AreaName)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Area.Description)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Area.Description)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Area.PricePerHour)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Area.PricePerHour)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Area.MaxSlots)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Area.MaxSlots)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Area.CoffeeShop)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Area.CoffeeShop)
                    </dd>
                </dl>
                <div class="d-flex justify-content-end">
                    <a asp-page="./edit" asp-route-id="@Model.Area?.AreaId" class="btn btn-primary me-3">Edit</a>
                    <a asp-page="./Index" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h2 class="card-title">Cats in this Area</h2>

            @if (Model.Cats == null || !Model.Cats.Any())
            {
                <div class="alert alert-warning" role="alert">
                    No cats found in this area.
                </div>
            }
            else
            {
                <table class="card table table-striped d-sm-table">
                    <thead>
                        <tr>
                            <th>Cat Id</th>
                            <th>Cat Name</th>
                            <th>Healthy Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cat in Model.Cats)
                        {
                            <tr>
                                <td>
                                    <a asp-page="../CatPages/Details" asp-route-id="@cat.CatId"
                                        class="badge bg-info btn">@cat.CatId</a>
                                </td>
                                <td>@cat.CatName</td>
                                <td>
                                    @if (cat.HealthyStatus == (int)CatStatus.Healthy)
                                    {
                                        <span class="badge bg-success">Healthy</span>
                                    }
                                    else if (cat.HealthyStatus == (int)CatStatus.Sick)
                                    {
                                        <span class="badge bg-danger">Sick</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-warning">Dead</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>