@page
@model CatCoffeePlatformRazorPages.Pages.AreaPages.DetailsModel

@{
    ViewData["Title"] = "Area Details";
}

<h1>Area Details</h1>

<div>
    <h4>Area</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area.AreaName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area.AreaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area.PricePerHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area.PricePerHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area.MaxSlots)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area.MaxSlots)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area.CoffeeShop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area.CoffeeShop)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Area?.AreaId" class="btn btn-primary">Edit</a> |
    <a asp-page="./Index" class="btn btn-primary">Back</a>
</div>
