@page
@model CatCoffeePlatformRazorPages.Pages.AreaPages.IndexModel

@{
    ViewData["Title"] = "Area Index";
}

<h1>Area Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create</a>
</p>

@if (Model.Area is null || !Model.Area.Any())
{
    <h3 class="alert alert-info">No Areas Found</h3>
}
else
{
    @if (TempData["area-msg"] is not null)
    {
        <div class="alert alert-info">
            @TempData["area-msg"]
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th>Area Name</th>
                <th>Description</th>
                <th>Price Per Hour</th>
                <th>Max Slots</th>
                <th>Coffee Shop</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Area)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AreaName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PricePerHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxSlots)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoffeeShop)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.AreaId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.AreaId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
