@page "/productpages/details"
@model CatCoffeePlatformRazorPages.Pages.ProductPages.DetailsModel

@{
    ViewData["Title"] = "Product Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-7 p-5">
            <h1 class="card-title">Details</h1>
            <hr />

            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Product.ProductName)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Product.ProductName)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Product.Price)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Product.Price)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Product.Quantity)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Product.Quantity)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Product.Unit)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Product.Unit)
                    </dd>
                    <dt class="col-sm-3 pb-2">
                        @Html.DisplayNameFor(model => model.Product.Category)
                    </dt>
                    <dd class="col-sm-9 pb-2">
                        @Html.DisplayFor(model => model.Product.Category.CategoryName)
                    </dd>
                </dl>
                <div class="d-flex justify-content-end">
                    <a asp-page="/CoffeeShopPages/Details" asp-route-id="@ViewData["shopId"]" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
